@import "tailwindcss";

/* light mode */
:root {
  --bg-color: white;
  --text-color: black;
  --button-bg-color: #0066f6;
  --button-test-color: #464646;
  --button-hover-bg: #e0e0e0;
}

/* Dark mode */
html.dark {
  --bg-color: linear-gradient(to right, #242424, #2f2f2f);
  --text-color: rgb(165, 165, 165);
  --button-bg-color: #4b5563;
  --button-test-color: #ffffff;
  --button-hover-bg: #444444;
}

body {
  background: var(--bg-color);
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: var(--button-bg);
  transition: background-color 0.3s;
}

button:hover {
  background-color: var(--button-hover-bg);
}
